$black: #000;
$white: #fff;
$gray-1: #d8d8d8;
$gray-light: #c7c5c5;
$gray: #333;
$gray-medium-light: #eaeaea;
$red: #f00;
$state-danger-text: #a94442;
$notice: #bdfdbd;
$darkslategray: #21324a;
$darkslategray-light: #263b57;
$dimgray: #4a5e6d;
$midnightblue: #102432;
$lightsteelblue: #b8cbd8;
$lightslategray: #84989a;
$mediumturquoise: #4dce8c;
$gainsboro: #e0e0e0;
$silver: #bbb;
$green-notice: #bdfdbd;
