@import 'color.scss';
// ===============nav-top============
.nav-top {
  padding: unset;
  background: $gray;
}

.div-collapse {
  height: 40px;
  margin-left: -17px;
}

nav {
  background: $gray
}

.home-link {
  width: 100px;
  &:hover {
    background: $black
  }
}

.home-link {
  border-right: 1px solid $black;
}

.search-box {
  width: 480px;
}

.upload-txt:hover {
  color: $red
}

.divider {
  height: 10px;
}

// ==================end-nav-top=============
// ==================nav-2================

.nav-2 {
  background: $gray-light;
  padding: unset
}

.nav-2 li {
  margin-right: 20px;
  &:hover {
    background: $white;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.hot-music {
  position: relative;
}

a {
  display: block;
}
// ==================end-nav-2============
// ===================form================
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}
// ===============end-form================
// ===============footer==================

footer {
  background: $black;
  height: 100px;
  width: 100%;
}

.content {
  ul {
    padding: 10px;
    li {
      list-style: none;
      display: flex;
      margin: 10px 0;
    }
  }
}

.song-title {
  display: flex;
  font-size: 25px;
  margin-bottom: 5px;
}
.song-singer {
  display: flex;
  font-size: 15px;
  margin-bottom: 5px;
}
.song-view {
  font-size: 15px;
}

audio {
  width: 100%;
  height: 80px;
}
