@import 'color.scss';
/*---------------Nav-Top---------------*/
.nav-top {
  padding: unset;
  background: $gray;
}

.div-collapse {
  height: 40px;
  margin-left: -17px;
}

nav {
  background: $gray
}

.home-link {
  width: 100px;
  &:hover {
    background: $black
  }
}

.home-link {
  border-right: 1px solid $black;
}

.search-box {
  width: 480px;
}

.upload-txt:hover {
  color: $red
}

.divider {
  height: 1px;
  background: $gray-light;
}

dropdown-account {
  background: $red 
}
/*--------------End-nav-top------------*/
/*--------------Nav-2------------------*/

.nav-2 {
  background: $gray-light;
  padding: unset
}

.nav-2 li {
  margin-right: 20px;
  &:hover {
    background: $white;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.hot-music {
  position: relative;
}

a {
  display: block;
}
/*--------------End-Nav-2------------*/
/*--------------Form-----------------*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}
/*--------------End-Form---------------*/

/*--------------Playlist---------------*/
ol {
  list-style-type: none;
}

ol li {
  width: 200px;
  height: 150px;
  float: left;
  background-color: $gray-light;
  margin: 0 3px 3px;
  text-align: center;
  &:hover {
    background: $black;
  }
  &:hover h5 {
    color: $red
  }
}

ol li h5 {
  height: 115px;
}

.bg-create-playlist {
  background: $gray-light;
}
/*--------------End-Playlist-----------*/

/*--------------Footer-----------------*/
footer {
  background: $black;
  height: 100px;
  width: 100%;
  margin-top: 10px;
}

.content {
  ul {
    padding: 10px;
    li {
      list-style: none;
      display: flex;
      margin: 10px 0;
    }
  }
}

.song-title {
  display: flex;
  font-size: 25px;
  margin-bottom: 5px;
}
.song-singer {
  display: flex;
  font-size: 15px;
  margin-bottom: 5px;
}
.song-view {
  font-size: 15px;
}

audio {
  width: 100%;
  height: 80px;
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $gray-light;
  }
  .content {
    display: block;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px 0 0 10px;
  }
}
