<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render "shared/create_playlist" %>
    </aside>
    <div class="col-md-8 text-center">
      <h3 class="mx-auto text-danger font-weight-bold w-50 py-2"><%= t ".playlist" %></h3>
      <%= render "shared/list_playlist" %>
    </div>
  </div>
<% end %>
