<footer class="container-fluid text-center">
  <div class="float-right">
    <%= link_to image_tag("viet-nam-thumb.png", height: 30), locale: :vi %>
    <%= link_to image_tag("usa-thumb.jpg", height: 30), locale: :en %>
  </div>
  <h5 class="text-white pt-4">
    @copyright Framgia 2018
  </h5>
</footer>
