<footer class="container-fluid">
  <div class="float-right">
    <%= link_to image_tag("viet-nam-thumb.png", height: 30), locale: :vi %>
    <%= link_to image_tag("usa-thumb.jpg", height: 30), locale: :en %>
  </div>
</footer>
